<!doctype html>
{% load i18n %}{% load static from staticfiles %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Spotnet</title>
  <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
</head>
<body>
  <div id="container">
    <div class="content">{% if messages %}
      <ul class="messages">{% for message in messages %}
        <li{% if message.tags %} class="message_{{ message.tags }}"{% endif %}><span class="message_title">{{ message.tags|capfirst }}:</span> {{ message }}</li>{% endfor %}
      </ul>
{% endif %}
      {% block content %}{% trans "No content!" %}{% endblock %}
    </div>
    <div class="footer">
      <p>&copy;{% trans "Copyright" %} 2008 - {{ year }} &mdash; <a href="http://validator.w3.org/check/referer">{% trans "Valid HTML5" %}</a></p>
    </div>
  </div>
</body>
</html>
