{% extends "django_spotnet/base.html" %}
{% load i18n %}


{% block content %}
<h1>{% trans "Spotnet" %}: {{ title }}</h1>
<p>{% trans "Go" %}</p>
<ul>
  <li><a href="{% url spotnet:downloaded %}">{% trans "Downloaded" %}</a></li>
  <li><a href="{% url spotnet:watchlist %}">{% trans "Watching" %}</a></li>
  <li><a href="{% url spotnet:recommendations %}">{% trans "Recommended" %}</a></li>
</ul>

<form action="" method="post">
{% csrf_token %}
<table class="selector">
  <thead>
    <tr>
      <td></td>
      <td>{% trans "Title" %}</td>
      <td>{% trans "Poster" %}</td>
      <td>{% trans "Category" %}</td>
      <td>{% trans "Posted" %}</td>
      <td>{% trans "State" %}</td>
    </tr>
  </thead>
  <tbody>
{% for object in page.object_list %}
    <tr>
      <td class="check">{{ object.checkbox }}</td>
      <td><a href="{{ object.post.get_absolute_url }}">{{ object.post.title }}</a></td>
      <td>{{ object.post.poster }}</td>
      <td>{{ object.post.get_category_display }}</td>
      <td>{{ object.post.posted }}</td>
      <td>{{ object.post.get_state_display }}</td>
    </tr>
{% empty %}
    <tr>
      <td colspan="6"><i>{% trans "Nothing here!" %}</i></td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="5">{{ page.object_list.action_selector }} <input type="submit" value="{% trans "Go" %}" /></td>
    </tr>
  </tfoot>
</table>
</form>
{% include "django_spotnet/paginate.html" %}
{% endblock %}
