<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Spotnet test project</title>
</head>
<body>
  <h1>Test project for django-spotnet</h1>
  <p>This is a very minimal application that shows the most default setup of django-spotnet.</p>
  <ul>
    <li><a href="{% url admin:index %}">The django builtin admin</a></li>
    <li><a href="{% url spotnet:index %}">The spotnet pages</a></li>
  </ul>
  <p>To customize this app to your specific needs, please visit the documentation for all the options available.</p>
  <ul>
    <li>Restyling any part by creating templates like 'spotnet/base.html', or 'spotnet/list.html" for more specific needs, in a place that takes precedence over app templates.</li>
  </ul>
</body> 
</html> 
