{% extends "spotnet_base.html" %}
{% load i18n %}



{% block title %}{% trans "Spotnet" %}{% endblock %}

{% block content %}
<p>{% trans "Filter category" %}</p>
<ul>
  <li><a href="?cat=01">Image</a></li>
  <li><a href="?cat=02">Sound</a></li>
  <li><a href="?cat=03">Game</a></li>
  <li><a href="?cat=04">Application</a></li>
</ul>

<table class="selector">
  <thead>
    <tr>
      <td></td>
      <td>{% trans "Title" %}</td>
      <td>{% trans "Poster" %}</td>
      <td>{% trans "Category" %}</td>
      <td>{% trans "Posted" %}</td>
      <td>{% trans "State" %}</td>
    </tr>
  </thead>
  <tbody>
{% for post in page.object_list %}
    <tr>
      <td class="check"><input type="checkbox" value="on" name="post_{{ post.id }}" /></td>
      <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
      <td>{{ post.poster }}</td>
      <td>{{ post.get_category_display }}</td>
      <td>{{ post.datetime }}</td>
      <td>{{ post.get_state_display }}</td>
    </tr>
{% empty %}
    <tr>
      <td colspan="5"><i>{% trans "No posts in database!" %}<br/>{% trans "Try updating." %}</i></td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="5"><a href="#">{% trans "Download" %}</a> - <a href="#">{% trans "Delete" %}</a> -
        set state to
        <select>
          <option>Spotted</option>
          <option>Queued</option>
          <option>Downloading</option>
          <option>Downloaded</option>
        </select>
      </td>
    </tr>
  </tfoot>
</table>
{% include "spotnet_paginate.html" %}
{% endblock %}
