{% extends "django_spotnet/base.html" %}
{% load i18n %}


{% block content %}
<h1>{% trans "Spotnet" %}</h1>

<p>{% trans "Go" %}</p>
<ul>
  <li><a href="{% url spotnet:downloaded %}">{% trans "Downloaded" %}</a></li>
  <li><a href="{% url spotnet:watchlist %}">{% trans "Watching" %}</a></li>
  <li><a href="{% url spotnet:recommendations %}">{% trans "Recommended" %}</a></li>
</ul>


<p>{% trans "Filter category" %}</p>
<ul>
{% if searcher.is_category_filtered %}
  <li><a href="{{ searcher.unfilter_categories }}"><i>{% trans "All" %}</i></a></li>
{% endif %}
{% for search_url,search_title in searcher.single_category_filters %}
{% if search_url %}
  <li><a href="{{ search_url }}">{{ search_title }}</a></li>
{% else %}
  <li><b>{{ search_title }}</b></li>
{% endif %}
{% endfor %}
</ul>

<form action="" method="post">
{% csrf_token %}
<table class="selector">
  <thead>
    <tr>
      <td></td>
      <td>{% trans "Title" %}</td>
      <td>{% trans "Poster" %}</td>
      <td>{% trans "Category" %}</td>
      <td>{% trans "Posted" %}</td>
      <td>{% trans "State" %}</td>
    </tr>
  </thead>
  <tbody>
{% for post in page.object_list %}
    <tr>
      <td class="check">{{ post.checkbox }}</td>
      <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
      <td>{{ post.poster }}</td>
      <td>{{ post.get_category_display }}</td>
      <td>{{ post.posted }}</td>
      <td>{{ post.get_state_display }}</td>
    </tr>
{% empty %}
    <tr>
      <td colspan="6"><i>{% trans "No posts in database!" %}<br/>{% trans "Try updating." %}</i></td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="5">{{ page.object_list.action_selector }} <input type="submit" value="Go" /></td>
    </tr>
  </tfoot>
</table>
</form>
{% include "django_spotnet/paginate.html" %}
{% endblock %}
