{% extends "spotnet/base.html" %}
{% load i18n %}


{% block content %}
<h2>{{ title }}</h2>

<form action="" method="post">
{% csrf_token %}
<table class="selector">
  <thead>
    <tr>
      <td></td>
      <td>{% trans "Title" %}</td>
      <td>{% trans "Poster" %}</td>
      <td>{% trans "Category" %}</td>
      <td>{% trans "Posted" %}</td>
    </tr>
  </thead>
  <tbody>
{% for object in page.object_list %}
    <tr>
      <td class="check">{{ object.checkbox }}</td>
      <td><a href="{{ object.post.get_absolute_url }}">{{ object.post.title }}</a></td>
      <td>{{ object.post.poster }}</td>
      <td>{{ object.post.get_category_display }}</td>
      <td>{{ object.post.posted }}</td>
    </tr>
{% empty %}
    <tr>
      <td colspan="5"><i>{% trans "Nothing here!" %}</i></td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="4">{{ page.object_list.action_selector }} <input type="submit" value="{% trans "Go" %}" /></td>
    </tr>
  </tfoot>
</table>
</form>
{% include navigator_template|default:"spotnet/paginate.html" %}
{% endblock %}
