{% load i18n %}

<div class="pagination">
  <ul>
{% if page.number > 1 %}
    <li class="walk"><a href="?page=1">{% trans "First" %}</a></li>
{% endif %}
{% if page.number > 2 %}
    <li class="walk"><a href="?page={{ page.previous_page_number }}">{% trans "Previous" %}</a></li>
{% else %}
    <li class="disable"><span>{% trans "Previous" %}</span></li>
{% endif %}
    <li class="disable"><span>{{ page.number }}</span></li>
{% if page.has_next %}
    <li class="walk"><a href="?page={{ page.next_page_number }}">{% trans "Next" %}</a></li>
{% else %}
    <li class="disable"><span>{% trans "Next" %}</span></li>
{% endif %}
    <li class="walk"><a href="?page=last">{% trans "Last" %}</a></li>
  </ul>
</div>
