{% load i18n %}

<div class="pagination">
  <ul>
{% if page.has_previous %}
    <li class="walk"><a href="?page={{ page.previous_page_number }}">{% trans "Previous" %}</a></li>
{% else %}
    <li class="disable"><span>{% trans "Previous" %}</span></li>
{% endif %}
    <li class="disable"><span>{{ page.number }}</span></li>
{% if page.has_next %}
    <li class="walk"><a href="?page={{ page.next_page_number }}">{% trans "Next" %}</a></li>
{% else %}
    <li class="disable"><span>{% trans "Next" %}</span></li>
{% endif %}
  </ul>
</div>

{% comment %}
{% for n in page.paginator.slim_page_range %}
{% if n = page.number %}
    <li class="current"><a href="?page={{ n }}">{{ n }}</a></li>
{% else %}
    <li><a href="?page={{ n }}">{{ n }}</a></li>
{% endif %}
{% endfor %}
{% endcomment %}
